<table class="table table-bordered table-condensed">
    <thead class="thead-light">
        <tr>
            <th>Day</th>
            <ng-container *ngFor="let s of slots; index as i">
                <th>{{ s }}</th>
            </ng-container>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let s of days; index as d">
            <tr>
                <td>{{ s }}</td>
                <ng-container *ngFor="let s of slots; index as i">
                    <td *ngIf="schedules[d].assigned[i] && (schedules[d].times[i] !== 0); else second" [attr.colspan]="schedules[d].times[i]" class="bg-light text-dark" style="padding: 5px;">  
                        <app-card (cardClicked)="cardClicked(schedules[d], i)" [schedule]="schedules[d]" [i]="i"></app-card>      
                    </td>
                    <ng-template #second>                      
                        <td *ngIf="!schedules[d].assigned[i]">
                            <div class="tooltip1" style="width:100%; height: 100%;">
                                <div *ngIf="schedules[d].times[i] != 1" [style.width.rem]="schedules[d].times[i]" class="card-body">
                                </div>
                                <p *ngIf="!modelChanged" class="tooltiptext1 bg-silver"><button class="btn btn-success btn-sm" (click)="onClick(schedules[d], i)" 
                                    ><fa-icon [icon]="faPlus"></fa-icon>ADD</button></p>
                            </div>
                        </td>          
                    </ng-template>                    
                </ng-container>     
            </tr>
        </ng-container>
    </tbody>
</table>